.game {
  display: grid;
}

@media screen and (max-height: 1080px) {
  :root {
    --box-size: 52px;
    --key-size: 34px;
    --box-margin-size: 3px;
    --key-margin-size: 4px;
  }
}

@media screen and (max-height: 760px) {
  :root {
    --box-size: 44px;
    --key-size: 28px;
  }
}

@media screen and (max-height: 700px) {
  :root {
    --box-size: 36px;
    --key-size: 22px;
  }
}

@media screen and (max-height: 640px) {
  :root {
    --box-size: 30px;
    --key-size: 18px;
    --box-margin-size: 2px;
    --key-margin-size: 2px;
  }
}

@media screen and (max-height: 580px) {
  :root {
    --box-size: 26px;
    --key-size: 16px;
  }
}

@media screen and (max-height: 500px) {
  :root {
    --box-size: 24px;
    --key-size: 12px;
  }
}

@media screen and (max-height: 460px) {
  :root {
    --box-size: 22px;
    --key-size: 10px;
  }
}

@media screen and (max-height: 440px) {
  :root {
    --box-size: 18px;
    --key-size: 8px;
  }
}

@media screen and (max-height: 400px) {
  :root {
    --box-size: 16px;
    --key-size: 6px;
    --box-margin-size: 1.5px;
  }
}

@media screen and (max-height: 370px) {
  :root {
    --box-size: 14px;
    --key-size: 4px;
  }
}

.box {
  display: inline-grid;
  font-size: calc(var(--box-size) / 2);
  width: var(--box-size);
  height: var(--box-size);
}

.keyboard {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.key {
  height: var(--key-size);
  width: calc(var(--key-size) / 2);
  font-size: calc(var(--key-size) / 1.2);
  padding: 8px;
  cursor: pointer;
}

.box,
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(64, 64, 64);
}

.key {
  margin: var(--key-margin-size);
  user-select: none;
}

.box {
  margin: var(--box-margin-size);
}

.box-green {
  background-color: rgb(72, 143, 72);
}

.box-yellow {
  background-color: rgb(201, 201, 92);
}

.container {
  font-size: 1.5em;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0;
  transition: all 0.5s;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.5;
}

.key:hover {
  opacity: 0.9;
}

.key-grey {
  opacity: 0.25;
  cursor: pointer;
}

.key-yellow {
  background-color: rgb(201, 201, 92);
}

.key-green {
  background-color: rgb(72, 143, 72);
}
